[Unit]
Description=spiderfoot

[Service]
User=spiderfoot
ExecStart=python3 /spiderfoot/spiderfoot-3.5/sf.py -l 0.0.0.0:5001
Restart=always

[Install]
WantedBy=multi-user.target